<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quanlydetai">
        <activity
            android:name=".activitys.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.adminactivity.SystemInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.adminactivity.AccountManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.adminactivity.AccountFormActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.adminactivity.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.giangvienactivity.GuiThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.giangvienactivity.GVMainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.giangvienactivity.SuaDeTaiGoiYActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.giangvienactivity.ThemDeTaiGoiYActivity"
            android:exported="true" />
        <activity
            android:name=".activitys.studentactivity.DangKyDeTaiActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.studentactivity.SuaDeTaiActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.studentactivity.StudentMainActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.ProfileActivity"
            android:exported="false" />
        <activity android:name=".activitys.adminactivity.GuiThongBaoAdminActivity" />

    </application>

</manifest>